.main {
  margin: 50px;
}

.card-wrapper {
  width: 180px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px;
  position: relative;
  display: inline-block;
  font-size: 14px;

  .header h6, .name, .team-designation {
    text-align: center;
    margin: 0;
  }

  .personal-details, .header {
    padding: 13px 0;
  }

  .header {
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;

    &.no-cursor {
      cursor: auto;
    }

    &.open {
      background-color: #2196f3;

      h6 {
        color: #fff;
      }
    }
  }

  .personal-details {
    border-bottom: 1px solid #f5f5f5;

    .team-designation {
      color: #9e9e9e;
    }
  }
}

.team-details {
  padding: 5px 0;

  div {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #f5f5f5;
  }

  .fa {
    padding-right: 5px;
  }
}

.hidden {
  display: none !important;
}

* {margin: 0; padding: 0;}

.main {
  ul {
    position: relative;
  }

  li {
    float: left;
    list-style-type: none;
    position: relative;
    text-align: center;

    &::before, &::after {
      border-top: 1px solid black;
      content: '';
      height: 20px;
      position: absolute;
      right: 50%;
      top: 0;
      width: 50%;
    }

    &::after {
      border-left: 1px solid black;
      left: 50%;
      right: auto;
    }

    &:last-child::after, &:first-child:before {
      display: none;
    }

    &:last-child::before {
      border-right: 1px solid black;
    }

    &:only-child::before, &:only-child::after {
      display: none;
    }

    &:only-child {
      margin-top: -20px;
    }
  }

  .level-cards.show-down-arrow::before {
    border-left: 1px solid #000;
    content: '';
    height: 20px;
    left: 50%;
    position: absolute;
    top: -20px;
    width: 0;
  }
}
