$sizes: xs, sm, md, lg;
$directions: top, bottom, left, right;

@for $i from 1 through length($directions) {
  $direction: nth($directions, $i);
  @for $j from 1 through 10 {
    $height: $j * 5;
    .element-spacer-#{$direction}-#{$height} {
      margin-#{$direction}: $height * 1px;
    }
  }
}

@for $i from 1 through length($directions) {
  $direction: nth($directions, $i);
  @for $j from 1 through 10 {
    $height: $j * 5;
    .element-spacer-negative-#{$direction}-#{$height} {
      margin-#{$direction}: $height * -1px;
    }
  }
}
